.settingContent{
	height:100%
}
.settingContent .containingElement{
	margin-left:2%;	
}
#footer{
	padding-bottom:2%
}
#footer a{
	margin-top:2%;
	margin-left:26%
}
.settingContent #saveSettings,.settingContent #theme,.settingContent #pagename{
	margin-right:2%;
	margin-top:3%;
}