<?xml version='1.0' encoding='utf-8'?>
<widget id="com.apptuter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Apptuter</name>
    <description>
        Apptuter is Application that bundle youe social networks in one App.
    </description>
    <author email="support.team@egirna.com" href="http://egirna.com">
        Egirna Technologies Limited
    </author>
    <content src="index.html" />
    <access origin="*" />
	
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
	<preference name="android-minSdkVersion" value="19"/>
	<preference name="AndroidPersistentFileLocation" value="Compatibility"/>

    <engine name="android" spec="~5.1.1" />
</widget>
