@import 'app';
 
.scroll{
    height:100% !important;
}
.tabs-top>.tabs, .tabs.tabs-top{
    top:0px !important
}
.has-tabs-top{
    top:33px !important
}
.list.list-left-editing{
    margin-top:4% !important;
    margin-bottom:6% !important;
}
.item-content{
    padding:16px 0px 16px 0px !important;
}
.post-item.item{
    padding:0px !important;
}
.item p{
    white-space:normal !important;
    font-size:16px;
}
.popup-container .popup{
    width:100% !important;
}
.popup-title{
    font-family:JF Flat Regular !important;
}
.bar-footer .button.button-full{
    margin-top:-2px !important;
    padding-bottom:4px !important;
    z-index:5000 !important;
}
.rtl{
    direction:rtl !important;
}
.ltr{
    direction:ltr !important;
}
.list:last-child.card{
    margin-bottom:60px !important;
}
.item-accordion.ng-hide {
  line-height: 0px;
}
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}
.item-icon-left .icon, .item-icon-right .icon{
    font-size:25px !important;
}

.repeat-animation.ng-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
} 
@-webkit-keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}

.repeat-animation.ng-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
} 
@-webkit-keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
















.thing {
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top:-75px;
  margin-left:-75px;
  width:150px;
  height:150px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: rotateit 1.5s ease infinite;
          animation: rotateit 1.5s ease infinite;
}
.beam {
  width:50px;
  height:50px;
  border-radius:10px;
  position:absolute;
}
.r {
  background-color:#e74c3c;
}
.b {
  background-color:#3498db;
}
.r1 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left:50px;
  top:0px;
  -webkit-animation: move1r 1.5s ease infinite;
          animation: move1r 1.5s ease infinite;
}
.r3 {
  top:50px;
  -webkit-animation: move2 1.5s ease infinite;
          animation: move2 1.5s ease infinite;
}
.b1 {
  -webkit-transform: rotate(90deg);
  left:50px;
  top:100px;
  -webkit-animation: move1b 1.5s ease infinite;
          animation: move1b 1.5s ease infinite;
}
.b3 {
  top:50px;
  left:100px;
  -webkit-animation: move2 1.5s ease infinite;
          animation: move2 1.5s ease infinite;
}

@-webkit-keyframes rotateit {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  99% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotateit {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  99% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes move1r {
  0% {
    top:0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    top:100px;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  99% {
    top:100px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes move1r {
  0% {
    top:0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    top:100px;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  99% {
    top:100px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@-webkit-keyframes move2 {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  99% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes move2 {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  99% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@-webkit-keyframes move1b {
  0% {
    top:100px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    top:0px;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  99% {
    top:0px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes move1b {
  0% {
    top:100px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    top:0px;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  99% {
    top:0px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
