@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto_regular/Roboto-Regular-webfont.eot");
  src: url("fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("fonts/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"), url("fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("fonts/roboto_bold/Roboto-Bold-webfont.eot");
  src: url("fonts/roboto_bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto_bold/Roboto-Bold-webfont.woff") format("woff"), url("fonts/roboto_bold/Roboto-Bold-webfont.ttf") format("truetype"), url("fonts/roboto_bold/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BreeSerif-Bold';
  src: url('fonts/beeserif/BreeSerif-Bold.otf') format('opentype'); }

@font-face {
  font-family: 'BreeSerif';
  src: url('fonts/beeserif/BreeSerif.otf') format('opentype'); }

@font-face {
  font-family: 'BreeSerif-Thin';
  src: url('fonts/beeserif/BreeSerif-Thin.otf') format('opentype'); }

@font-face {
  font-family: "JF Flat Regular";
  src: url('fonts/JF-Flat-regular.eot');
  src: url('fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('fonts/JF-Flat-regular.woff') format('woff'), url('fonts/JF-Flat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

html, body, [ng-view], .ng-scope, [ui-view], .container {
  height: 100%;
  font-family: JF Flat Regular !important;
  color: #fff !important; }

button, input, select, textarea {
  font-family: JF Flat Regular !important; }

* {
  padding: 0;
  margin: 0; }

.register {
  width: 100%;
  height: 100%;
  overflow-y: hidden; }

.scroll {
  height: 100% !important; }

.blur-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/blue_blur.png);
  background-size: cover;
  background-repeat: no-repeat; }

.css-filters {
  max-height: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.item {
  background-color: transparent !important;
  border-color: #fff !important;
  color: #fff !important; }

.list-inset {
  margin-top: 5px !important; }

.button-full {
  margin-top: 0px !important; }

.button-clear {
  font-size: 20px !important; }

.button.icon-left:before {
  position: relative !important;
  left: 30% !important; }

.list-inset {
  background-color: transparent !important; }

.item-select select {
  direction: ltr; }

input::-webkit-input-placeholder {
  color: #fff; }

input:-moz-placeholder {
  color: #fff; }

input:-ms-input-placeholder {
  /* IE10+ */
  color: #fff; }

input {
  color: #fff !important; }

.input-label {
  color: #fff; }

.item {
  border-width: 0px !important;
  border-bottom: 1px solid !important; }

.list-inset {
  margin: 20px 0px !important; }

.error {
  border-bottom: 1px solid red !important; }
